/* Body styling */
body {
    background-image: url("../images/zelda_items.jpg");
    background-color: blueviolet;
}

/* Styling for header/title area */
#title-section {
	background-color: greenyellow;
	border-style: solid;
	border-width: 3px;
	border-color: #ff0072;
	outline: 3px solid #e60067;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

/* Styling for reset button area */
.reset-section {
	text-align: center;
	margin-bottom: 50px;
}

/* Styling for reset button */
#button-start {
	font-weight: bold;
	background-color: #36ebbe;
	border-color: #0093ab;
	color: #958be3;
}

/* Styling for reset button on hover */
#button-start:hover {
	color: #00a53f;
	background-color: #ff8100;
	border-color: #c53d2d;
}

/* Styling for H2 and H3 elements */
h2, h3 {
	margin: 10px;
}

/* To underline specific elements */
.underline {
	text-decoration: underline;
}

/* Styling for three scoring boxes */
.random-number, .current-score, .win-loss {
	margin-top: 25px;
	min-height: 100px;
	background-color: cyan;
	border-style: solid;
	border-width: 3px;
	border-color: #ff0072;
	outline: 3px solid #e60067;
}

/* Text Styling for points boxes */
.random-number, .current-score {
	text-align: center;
}

/* Styling for text in win/loss box */
.win-loss-text {
	margin-left: 0px;
	text-align: right;
}

/* Styling for main medallion content area */
#game-section {
	margin: 25px 0px 25px 0px;
	min-height: 500px;
	background-color: greenyellow;
	border-style: solid;
	border-width: 3px;
	border-color: #ff0072;
	outline: 3px solid #e60067;
}

/* Margins set on medallions */
#image-1, #image-2, #image-3, #image-4 {
	margin: 10px 0px 10px 0px;
}

/* For footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -45px;
	/* Pad bottom by footer height */
	padding: 0px 0px 45px 0px;
}

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
	/* Set the fixed height of the footer here */
	height: 45px;
	color: cyan;
	background-color: blueviolet;
	border-top-style: solid;
	border-color: #ff0072;
	border-width: 1px;
	outline: 2px solid #e60067;
	text-align: center;
	overflow: auto;
	overflow-y: hidden;
}

/* Sticky Footer Text Styling */
.p-footer-main {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
}

/* Sticky Footer Credit Text Styling */
.p-footer-external {
	font-size: 11px;
	margin: 0px 0px 5px 0px;
}

/* Sticky Footer Credit Text Link Styling */
.p-footer-external a {
	text-decoration: none;
	color: greenyellow;
}

/* Sticky Footer Credit Text Link Styling on Hover */
.p-footer-external a:hover {
	text-decoration: none;
	color: cyan;
}